# Extract Products From KaDo.csv

In [8]:
import pandas as pd
import os

In [9]:
df = pd.read_csv("..{}data{}KaDo.csv".format(os.sep, os.sep), sep=",")

df.head()

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID
0,35592159,10,1.67,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
1,35592159,10,1.66,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
2,35592159,10,7.45,SOINS DU VISAGE,VIS_CJOUR Jeunes Specifique,VIS_JEUNE_ET_LEVRE,CR JR PARF BIO.SPE AC.SENT.50ML,1490281
3,35592159,10,5.95,SOINS DU VISAGE,VIS_DEMAQ AAAR,VIS_AAAR_DEMAQLOTION,EAU MICELLAIRE 3 THES FL200ML,1490281
4,35592159,10,1.67,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 TIARE FL 200ML,1490281

In [10]:
df = df[["FAMILLE", "MAILLE", "UNIVERS", "LIBELLE", "PRIX_NET"]]

df.head()

,FAMILLE,MAILLE,UNIVERS,LIBELLE,PRIX_NET
0,HYGIENE,HYG_JDM,HYG_DOUCHE JARDINMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1.67
1,HYGIENE,HYG_JDM,HYG_DOUCHE JARDINMONDE,GD JDM4 PAMPLEMOUSSE FL 200ML,1.66
2,SOINS DU VISAGE,VIS_JEUNE_ET_LEVRE,VIS_CJOUR Jeunes Specifique,CR JR PARF BIO.SPE AC.SENT.50ML,7.45
3,SOINS DU VISAGE,VIS_AAAR_DEMAQLOTION,VIS_DEMAQ AAAR,EAU MICELLAIRE 3 THES FL200ML,5.95
4,HYGIENE,HYG_JDM,HYG_DOUCHE JARDINMONDE,GD JDM4 TIARE FL 200ML,1.67

In [11]:
df.shape[0]

7245522

In [12]:
df_product = df.drop_duplicates(subset="LIBELLE").sort_values(["FAMILLE", "MAILLE", "UNIVERS"]).reset_index().drop(["index"], axis=1)

df_product.head(10)

,FAMILLE,MAILLE,UNIVERS,LIBELLE,PRIX_NET
0,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP,LISSAGE AP SHAMPOING LISSANT 150ML SVC,2.95
1,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP,SVC NUTRITION AP SH 150ML,2.95
2,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP,SVC ECLAT COULEUR AP SH 150ML,2.95
3,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP,APRES SHAMPOOING NUTRI BOUCLES 150ML,2.95
4,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP,SVC REPARATION AP SH 150 ML,2.95
5,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP,SVC AS NOURRISSANT T150ML,2.50
6,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE,EAU DEMELANTE 200ML,8.90
7,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE,SPRAY VOLUME 200ML,4.95
8,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE,SPRAY SCULPTANT 150ML,4.95
9,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE,LISSAGE SERUM LACTE LISSANT 100 ML,5.95

In [13]:
df_product.shape[0]

1484

In [14]:
df_product = df_product.sample(frac=1)
df_product.to_csv("..{}data{}KaDo_Products.csv".format(os.sep, os.sep), sep=",")